/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

footer p {
  color: #f2f2f2;
}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

#ContainerSkills p{
	text-align: center;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

#table_content{
	background: #F6F6F6;
	padding: 10px;
	border-radius: 10px;
}

td{
	padding: 1%;
}

td.little{
	width: 25%;
	border-right: 4px solid #3c3c3c; 
}

table{
	border-top: 4px solid #3c3c3c;
}

li{
	display: inline;
	padding: 1%;
	background: #fff;
	border-radius: 8px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  max-width: 1100px;
  min-width: 600px;
  position: relative;
  padding: 20px 20px;
  margin: 0 auto;
  overflow: hidden;
}

.skill {
	padding: 3px;
	line-height: 2;
	border: 2px solid #549c7e;
	background:inherit;
	border-radius: 10px;
	white-space: nowrap;
}

.skill:hover{
	background:#549c7e;
	transition: all 0.5s;
}

.skillImage {
	width: 19%;
	padding: 7%;
	float: left;
	background-size: 0%;
}

img.skillImage.circle_1:hover{
	background:url('../images/circle_1.png') no-repeat 50% 50%;
	background-size: 100%;
	transition: background-size 0.5s;
}

img.skillImage.circle_2:hover{
	background:url('../images/circle_2.png') no-repeat 50% 50%;
	background-size: 100%;
	transition: background-size 0.5s;
}

img.skillImage.circle_3:hover{
	background:url('../images/circle_3.png') no-repeat 50% 50%;
	background-size: 100%;
	transition: background-size 0.5s;
}

img.skillImage.circle_4:hover{
	background:url('../images/circle_4.png') no-repeat 50% 50%;
	background-size: 100%;
	transition: background-size 0.5s;
}

img.skillImage.circle_5:hover{
	background:url('../images/circle_5.png') no-repeat 50% 50%;
	background-size: 100%;
	transition: background-size 0.5s;
}

.ProfileTitle {
	line-height: 22px;
    margin-top: 0px;
    margin-bottom: 40px;
    font-weight: lighter;
    font-size: 35px;
	text-align: center;
}

.SubProfileTitle {
	line-height: 22px;
    margin-top: 40px;
    font-weight: lighter;
    font-size: 28px;
	text-align: center;
}

#ContainerSubSkills{
	overflow: hidden;
	width: 100%;
}
#ContainerProfile{
  background: #F6F6F6;
  padding: 1%;
  border-radius: 10px;
  width: 44%;
  height: auto;
  float: left;
}
#ContainerSkills{
  background: #F6F6F6;
  padding: 1%;
  border-radius: 10px;
  width: 47%;
  height: auto;
  float: right;
}

#header_wrap {
	position: fixed;
	background: #3c3c3c;
	z-index: 1;
}


#project_title {
  white-space: nowrap;
  margin: 0;
  color: #fff;
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
}

#section_title {
  margin-bottom: 40px;
  font-size: 50px;
  text-align: center;
}

#project_tagline {
  color: #fff;
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

#main_content_wrap {
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;
}

#abaut_me_content_wrap {
	padding-top: 100px;
	background: #fff;
	padding-bottom: 40px;
	border-bottom: solid #3c3c3c;
}

#experience_content_wrap {
	padding-top: 100px;
	background: #F6F6F6;
	padding-bottom: 40px;
}

#main_content {
	padding-top: 40px;
}

#footer_wrap {
  background: #3c3c3c;
}

.work{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	white-space: nowrap;
	background: #549c7e;
	padding: 20px;
	border-right: 10px solid #2C7557;
}

.date{
	padding: 20px;
	font-size: 18px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.ss-style-triangles {
	border-bottom: solid #3c3c3c;
	border-right: solid #3c3c3c;
	position: absolute;
	left: 50%;
    width: 80px;
    height: 80px;
	background: inherit;
    -ms-transform: translateX(-50%) rotate(45deg); /* IE 9 */
    -webkit-transform: translateX(-50%) rotate(45deg); /* Chrome, Safari, Opera */
    transform: translateX(-50%) rotate(45deg);
}